# --- PYTHON ---
_pycache_/
*.py[cod]
*$py.class
*.pyc
*.pyo
.python-version

# --- DJANGO ---
*.log
db.sqlite3
db.sqlite3-journal


# --- ENTORNOS VIRTUALES ---
venv/
env/
.venv/
ENV/
bin/
lib/
share/

# --- ARCHIVOS DE ENTORNO (SECRETOS) ---

.env
.env.local

# --- ESTÁTICOS Y MEDIA ---

staticfiles/
media/
uploads/

# --- ARCHIVOS DE SISTEMA Y EDITORES ---
.DS_Store
.vscode/
.idea/
*.iml

# --- BASE DE DATOS (DUMPS) ---
*.sql
*.dump
backup/