<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if '/admin/sistema/pedido' in request.path %}
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <!-- HTMX (opcional, para mejor refresco) -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
    <!-- Nuestro WebSocket -->
    <script src="{% static 'admin/js/pedidos_websocket.js' %}"></script>
{% endif %}
{% endblock %}